/*set the width and height of section4*/
.section4
{
    display: flex;
    width:100%;
    height:209px;
    background-color:rgb(50, 50, 50);/*remove it later*/
    border:2px solid rgb(114, 114, 114);
    border-radius:10px;
    box-shadow:8px 2px 3px rgb(115, 112, 112);
}
.text
{
    width:60%;
    height:76%;
    color:rgb(62, 174, 90);
    text-align:center;
    padding-top:50px;
}
/*move the Email text area and the Sign up button to the center*/
.email
{
    display:flex;
    justify-content: center;
    align-items: center;
}
/*By default the size of the Email box was so small. so with the help of padding adjust the size*/
.EmailBox
{
    padding:3px;
}



